<div class="bar bar-header bar-energized " style="background-color: #00D3C4">
    <h1 class="title">信用卡开卡</h1>
</div>

<ion-view view-title="Title">
    <ion-content>
<h4>占位符</h4>
        <div class="card">
            <div class="item item-text-wrap">
                <h4>您的个人信息</h4>
                <p>
                    中文姓名：黄金贵拼音/英文姓名：HUANFGJINGUI
                </p>
                <p> 性别：男国籍：中国
                </p>
                <p> 出生日期：1990年05月27日证件类型：身份证
                </p>
                <p> 证件有效期：非长期有效期截止日期：2016-03-30
                </p>
                <p> 证件号码：350181199005272019婚姻状况：未婚
                </p>
                <p> 手机号码：13275000251教育程度：大学本科
                </p>
                <p> 住房情况：与父母同住月供：0
                </p>
                <p> 现住址居住年限：5个人年收入：4.000000(万元)
                </p>
                <p> 单位及部门名称：福建麦格数码科技有限公司现单位工作年限：1
                </p>
                <p> 职业：企业员工(民营企业)行业种类：计算机服务与软件业
                </p>
                <p> 职称：初级职务：职员
                </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h4>您的联系人信息</h4>
                <p>中文姓名：张三
                </p>
                <p> 性别：男
                </p>
                <p> 与申请人关系：其他
                </p>
                <p> 联系人手机：13960859144
                </p>
                <p> 联系人电话：0591-85627838
                </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h4>本次申请信用卡信息</h4>
                <p>申请信用卡种类：农行漂亮升级妈妈信用卡(银联金卡)
                </p>
                <p> 时间：2016年03月30日
                </p>
                <p> 领卡方式：网点自行领取
                </p>
                <p> 领卡网点：福州市福清支行营业厅--福清市清昌大道7号
                </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <h4>密码函及对账单寄送信息</h4>
                <p>对账单发送方式：电子邮件
                </p>
                <p> 对账单发送地址：福建省福州市鼓楼五四北路天骅大厦2088
                </p>
                <p> 密码函寄送地址：福建省福州市鼓楼五四北路天骅大厦2088
                </p>
            </div>
        </div>
        <a class="button button-block button-calm" href="#/phone/end" style="background-color: #00D3C4">提交</a>
        </div>
    </ion-content>
</ion-view>