<ion-header-bar align-title="center" class="bar-positve bar-energized" style="background-color: #00D3C4">
    <h1 class="title">信用卡开卡</h1>
</ion-header-bar>

<ion-view view-title="开卡成功">
    <ion-content>
        <div style="text-align: center;" ng-controller="CarouselCtrl as car">
            <img style="width:80%;" ng-src="{{car.slides[0].image}}" />
            <h4 style="color:#E66758">恭喜您申请成功</h4>
        </div>
        <p>您的信用卡申请已成功提交，我行将尽快处理，为确保办卡安全。中国农业银行信用卡中心可能通过电话4008195599与您核实资料，请注意接听并配合。</p>
        <h4 style="color:#E66758">您申请的网点是：福州市福清支行营业厅--福清市清昌大道7号</h4>
        <p>首次办理农行信用卡的新客户。需前往申请网点领取卡片，在办理领卡时，只要提供有效的资信证明，即可咨询和办理额度调整业务</p>
        <p>如有疑问可致电我行24小时客户服务热线（40066-95599）进行咨询，感谢您的理解和支持</p>
    </ion-content>
</ion-view>
